body {
    font-family: Arial, sans-serif;
}

#listaNotas {
    display: flex;
    flex-wrap: wrap;
}

.nota {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.nota-header {
    display: flex;
    justify-content: space-between;
}

.nota-titulo {
    margin: 0;
}

.nota-contenido {
    margin-bottom: 10px;
}

.nota-editar, .nota-eliminar {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.nota-eliminar {
    background-color: #dc3545;
}
header img {
    max-width: 100%;
    height: 40px;
}

.bgcolor {
    background-color: #f7f8cd;
}